body {
  background-color: aliceblue;
}

.header {
  padding: 30px;
  text-align: center;
  background: #59A5D8;
  color: white;
  font-size: 15px;
}

.footer {
  padding: 60px;
  text-align: center;
  background: #59A5D8;
  color: white;
  font-size: 15px;
}

h1 {
  font-size: 36px;
  font-family: Visby Round CF;
  font-style: Demi Bold;
}

h2 {
  font-size: 32px;
  font-family: Visby Round CF;
  font-style: Medium;
}

h3 {
  font-size: 17px;
  font-family: Visby Round CF;
  font-style: Regular;
}

h4 {
  font-size: 15px;
  font-family: Visby Round CF;
  font-style: regular;
}

h5 {
  font-size: 11px;
  font-family: Visby Round CF;
  font-style: Light;
}